<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wafflecopter.multicontactpicker">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application android:allowBackup="true">
        <activity
            android:name=".MultiContactPickerActivity"
            android:label="@string/picker_title" />

        <activity android:name=".VipFitterMultiContactPickerActivity" />

    </application>
</manifest>